<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Articles</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Cover</string>
				<key>MediaPath</key>
				<string>/Cover</string>
				<key>Media</key>
				<array>
                    <dict>
                        <key>Media</key>
                        <string>Cover-fpo.jpg</string>
                        <key>Type</key>
                        <string>jpg</string>
                    </dict>
                    <dict>
                        <key>Media</key>
						<string>DeFragCvr2 H.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Masthead</string>
				<key>MediaPath</key>
				<string>/MastHd</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>MstHd-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Manifesto</string>
				<key>MediaPath</key>
				<string>/Manifesto</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Manifesto-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Manifesto2-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Julie</string>
				<key>MediaPath</key>
				<string>/Julie</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Julie-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Julie2-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Julie3-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Julie4-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Julie5-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Ayush</string>
				<key>MediaPath</key>
				<string>/Ayush</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Ayush_h-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h2-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h3-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h4-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h5-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h6-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h7-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h8-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Hava</string>
				<key>MediaPath</key>
				<string>/Hava</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Hava-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava2-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava3-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava4-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava5-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava6-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava7-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava8-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava9-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Tash</string>
				<key>MediaPath</key>
				<string>/Tash</string>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Tash-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Tash2-fpo.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
