<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Articles</key>
		<array>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Cover.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>DeFragCvr2 H.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Cover</string>
				<key>Thumb</key>
				<string>Cover_thumb.jpg</string>
				<key>Title</key>
				<string>Cover</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>MstHd.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/MastHd</string>
				<key>Thumb</key>
				<string>MstHd_thumb.jpg</string>
				<key>Title</key>
				<string>Masthead</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Manifesto.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Manifesto2.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Manifesto</string>
				<key>Thumb</key>
				<string>Manifesto_thumb.jpg</string>
				<key>Title</key>
				<string>Manifesto</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>ArtOfRev.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev2.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>artists_time-lapse_1080p.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev4.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev5.jpg</string>
						<key>New item</key>
						<string></string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev6.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev7.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev8.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev9.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev10.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ArtOfRev11.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/ArtOfRevo</string>
				<key>Thumb</key>
				<string>ArtOfRev_thumb.jpg</string>
				<key>Title</key>
				<string>Art Of Revolution</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Paki.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Paki2.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Paki3.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>WlkOnAir.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Paki5.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>ReidiGul 1.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Paki</string>
				<key>Thumb</key>
				<string>Paki_thumb.jpg</string>
				<key>Title</key>
				<string>Paki</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Julie.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Draper-1x.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>CherryTs-1x.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>LarryD-1x.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Obama.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Julie</string>
				<key>Thumb</key>
				<string>Julie_thumb.jpg</string>
				<key>Title</key>
				<string>Julie</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Ayush_h.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h2.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h3.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h4.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h5.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h6.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h7.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Ayush_h8.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Ayush</string>
				<key>Thumb</key>
				<string>Ayush_h_thumb.jpg</string>
				<key>Title</key>
				<string>Ayush</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Hava.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava2.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava3.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava4.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava5.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava6.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava7.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava8.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Hava9.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Hava</string>
				<key>Thumb</key>
				<string>Hava_thumb.jpg</string>
				<key>Title</key>
				<string>Hava</string>
			</dict>
			<dict>
				<key>Media</key>
				<array>
					<dict>
						<key>Media</key>
						<string>Tash.jpg</string>
						<key>Type</key>
						<string>jpg</string>
					</dict>
					<dict>
						<key>Media</key>
						<string>Tash cmprsd.mov</string>
						<key>Type</key>
						<string>mov</string>
					</dict>
				</array>
				<key>MediaPath</key>
				<string>/Tash</string>
				<key>Thumb</key>
				<string>Tash_thumb.jpg</string>
				<key>Title</key>
				<string>Tash</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
