<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>Name</key>
			<string>Facebook Login</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>Name</key>
			<string>Facebook Logout</string>
		</dict>
	</dict>
</dict>
</plist>
